<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <title>MusicDB</title>
    </head>
    <body>
        <nav className="navbar navbar-expand-lg navbar-light bg-light">
            <div className="container">
                <a className="navbar-brand" href="#">MusicDB</a>
                <button className="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span className="navbar-toggler-icon"></span>
                </button>

                <div className="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul className="navbar-nav mr-auto">
                        {{!-- <li className="nav-item active">
                            <a className="nav-link" href="#">Home <span className="sr-only">(current)</span></a>
                        </li>
                        <li className="nav-item">
                            <a className="nav-link" href="#">Link</a>
                        </li>
                        <li className="nav-item dropdown">
                            <a className="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropdown
                            </a>
                            <div className="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a className="dropdown-item" href="#">Action</a>
                            <a className="dropdown-item" href="#">Another action</a>
                            <div className="dropdown-divider"></div>
                            <a className="dropdown-item" href="#">Something else here</a>
                            </div>
                        </li> --}}
                    </ul>
                    <form className="form-inline my-2 my-lg-0">
                        <input className="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button className="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>

        <div className="container" style="padding-bottom: 56px;">
            {{#if queue}}
            <div className="py-3">
                <h2>Play Queue</h2>
                <ul className="list-group list-group-horizontal overflow-auto">
                    {{#each queue}}
                    <li className="list-group-item list-group-item-action">
                        {{this.title}} ({{this.year}})
                    </li>
                    {{/each}}
                </ul>
            </div>
            {{/if}}

            <div className="py-3">
                <h2>Play songs</h2>
                <ul className="list-group list-group-horizontal overflow-auto">
                    {{#each songs}}
                    <li className="list-group-item list-group-item-action">
                        {{this.title}} ({{this.year}})
                        <a href="/play/{{this._id}}">play</a>
                        <a href="/like/{{this._id}}">like</a>
                    </li>
                    {{/each}}
                </ul>
            </div>
            
            <div className="py-3">
                <h2>Top 10 Trending Songs</h2>
                <ul className="list-group list-group-horizontal overflow-auto">
                    {{#each trending}}
                    <li className="list-group-item list-group-item-action">
                        {{this.title}} ({{this.year}})
                        <a href="/play/{{this._id}}">play</a>
                        <a href="/like/{{this._id}}">like</a>
                    </li>
                    {{/each}}
                </ul>
            </div> 
            {{{ body }}}
        </div>

        <nav
            className="navbar navbar-expand-lg navbar-light bg-light"
            style="position: fixed; bottom: 0; width: 100%; z-index: 99999"
        >
            <div className="container">
                {{#if nowPlaying}}
                <p>nowPlaying: {{ nowPlaying }}</p>
                {{/if}}
                <p>Now Playing: {{queue.0.title}} ({{queue.0.year}})</p>
            </div> 
        </nav>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    </body>
</html>